# Python
env*/
venv
*.pyc

# IDEs
.idea
.vs/*

# sphinx
_build

# Config
*.json
*.json5
*.jsonc
*.ini
*.txt
docker-compose.yml
data/.data_version
!locales/*.json
!data/cp_multipliers.json
!data/powerup_costs.json
!data/stat_products.json
!data/weather_boosts.json

# Runtime
cache/*
logs/*

# MacOS
.DS_Store

# Development
!.vscode/launch.json
