sudo: false
language:
  - python

cache:
  pip: true

python:
  - 2.7

install:
  - pip install flake8
  - pip install -r requirements.txt

script:
  - flake8 --statistics --show-source
  - python -m unittest discover
