# Copy this file to config.ini and modify to suit your needs
# Uncomment a line (remove the #) when you want to change its default value. Alternatively, all of these options can be set at the command line

# Server Settings
#host: 						# Address to listen on (default 127.0.0.1)
#port: 						# Port to listen on (default: 4000)
#key: 						# Google Maps API Key to use
#config: 					# Alarms configuration file. default: alarms.json
#location: 					# Location, can be an address or coordinates
#locale: 					# Locale for Pokemon names
#geofence: 					# Specify a file of coordinates, limiting alerts to within this area
#units: 					# Specify either metric or imperial
#timelimit: 					# Minimum number of seconds remaining on a pokemon to notify
