{
    "monsters":{
        "enabled": false,
        "defaults": {
        },
        "filters": {
            "filter-name": {
                "monsters": [ 1, 2, 3 ],
                "min_dist": 0, "max_dist": "inf",
                "min_lvl": 0, "max_lvl": 40, "min_atk": 0, "max_atk": 15,
                "min_def": 0, "max_def": 15, "min_sta": 0, "max_sta": 15,
                "min_iv": 0.0, "max_iv": 100,
                "form_ids": [ 0 ],
                "quick_moves": [ "Vine Whip", "Tackle"],
                "charge_moves": [ "Sludge Bomb", "Seed Bomb"],
                "genders": [ "male", "female", "neutral"],
                "min_height": 0, "max_height": "inf",
                "min_weight": 0, "max_weight": "inf",
                "sizes": [ "tiny", "small", "normal", "large", "big" ],
                "missing_info": false
            }
        }
    },
    "stops":{
        "enabled": false,
        "defaults": {
        },
        "filters": {
            "filter-name" : {
                "min_dist": 0, "max_dist": "inf",
                "missing_info": false
            }
        }
    },
    "gyms":{
        "enabled": false,
        "ignore_neutral":"False",
        "defaults": {
        },
        "filters": {
            "filter-name" : {
                "min_dist": 0, "max_dist": "inf",
                "old_teams": [ "Valor", "Instinct", "Mystic" ],
                "new_teams": [ "Valor", "Instinct", "Mystic" ],
                "gym_name_matches": [ ".*" ],
                "missing_info": false
            }
        }
    },
    "eggs":{
        "enabled": false,
        "defaults": {
        },
        "filters": {
            "filter-name" : {
                "min_dist": 0, "max_dist": "inf",
                "min_egg_lvl": 0, "max_egg_lvl": 40,
                "gym_name_matches": [ ".*" ],
                "missing_info": false
            }
        }
    },
    "raids":{
        "enabled": false,
        "defaults": {
        },
        "filters": {
            "filter-name" : {
                "monsters": [ 1, 2, 3 ],
                "min_dist": 0, "max_dist": "inf",
                "min_raid_lvl": 0, "max_raid_lvl": 5,
                "quick_moves": [ "Vine Whip", "Tackle"],
                "charge_moves": [ "Sludge Bomb", "Seed Bomb"],
                "gym_name_matches": [ ".*" ],
                "missing_info": false
            }
        }
    }
}
