{
    "monsters":{
        "enabled":false,
        "defaults":{
        },
        "filters":{
            "filter_by_monsters_example":{
                "monsters":["Bulbasaur","Charmander",7]
            },
            "filter_by_ivs_example":{
                "min_atk": 0, "max_atk": 15,
                "min_def": 0, "max_def": 15,
                "min_sta": 0, "max_sta": 15,
                "min_iv": 0.0, "max_iv": 100
            },
            "filter_by_moves_example":{
                "monsters":["Bulbasaur"],
                "quick_moves":["Vine Whip","Tackle"],
                "charge_moves":["Sludge Bomb","Seed Bomb"]
            }
        }
    },
    "stops":{
        "enabled":false,
        "defaults":{
        },
        "filters":{
            "filter_by_geofence_example":{
                "geofences":["Central Park"]
            }
        }
    },
    "gyms":{
        "enabled":false,
        "ignore_neutral":true,
        "defaults":{
        },
        "filters":{
            "filter_by_teams_example":{
                "old_teams":["Valor","Instinct","Mystic"],
                "new_teams":["Valor","Instinct","Mystic"]
            },
            "gym_name_contains_regex_example":{
                "gym_name_contains":[".*"]
            }
        }
    },
    "eggs":{
        "enabled":false,
        "defaults":{
        },
        "filters":{
            "filter_by_lvl_example":{
                "min_egg_lvl": 0, "max_egg_lvl": 5
            }
        }
    },
    "raids":{
        "enabled":false,
        "defaults":{
        },
        "filters":{
            "filter_by_monster":{
                "monsters":["Raikou","Entei","Suicune"]
            },
            "filter_raid_lvl_and_teams":{
                "min_raid_lvl": 0, "max_raid_lvl": 5,
                "current_teams":["Valor","Instinct","Mystic"]
            }
        }
    },
    "weather":{
        "enabled":false,
        "defaults":{
        },
        "filters":{
            "filter_by_geofence":{
                "geofence":["geofence1", "geofence2"]
            }
        }
    }
}
