configargparse==1.0; python_version < '3'
flask==1.1.1; python_version < '3'
gevent==1.4.0; python_version < '3'
pytz==2019.3; python_version < '3'
portalocker==1.5.2; python_version < '3'
requests==2.22.0; python_version < '3'
future==0.18.2; python_version < '3'
six==1.14.0; python_version < '3'
typing==3.7.4.1; python_version < '3'

# v4 Requirements
quart==0.8.1; python_version >= '3.7'
aiofiles==0.4.0; python_version >= '3.7'
